<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>10076</string>
		<key>name</key>
		<string>大运</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10077</string>
		<key>name</key>
		<string>东之</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10078</string>
		<key>name</key>
		<string>大陆行</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10079</string>
		<key>name</key>
		<string>凤凰电动车</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10080</string>
		<key>name</key>
		<string>比德文</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10081</string>
		<key>name</key>
		<string>超威</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10082</string>
		<key>name</key>
		<string>大阳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10083</string>
		<key>name</key>
		<string>菲利普</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10084</string>
		<key>name</key>
		<string>和平</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10085</string>
		<key>name</key>
		<string>杰宝大王</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10086</string>
		<key>name</key>
		<string>凯骑</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10087</string>
		<key>name</key>
		<string>绿源</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10088</string>
		<key>name</key>
		<string>莫拉克</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10089</string>
		<key>name</key>
		<string>南鹰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10090</string>
		<key>name</key>
		<string>欧派</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10091</string>
		<key>name</key>
		<string>清华祥龙</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10092</string>
		<key>name</key>
		<string>荣事达</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10093</string>
		<key>name</key>
		<string>狮龙</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10094</string>
		<key>name</key>
		<string>台铃</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10095</string>
		<key>name</key>
		<string>五羊</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10096</string>
		<key>name</key>
		<string>新日</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10097</string>
		<key>name</key>
		<string>雅迪</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10098</string>
		<key>name</key>
		<string>追风鸟</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10099</string>
		<key>name</key>
		<string>宝岛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10100</string>
		<key>name</key>
		<string>菲迅菲利普电动车</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10101</string>
		<key>name</key>
		<string>华生</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10102</string>
		<key>name</key>
		<string>吉圣</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10103</string>
		<key>name</key>
		<string>快虎</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10104</string>
		<key>name</key>
		<string>立马</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10105</string>
		<key>name</key>
		<string>尼科尼亚</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10106</string>
		<key>name</key>
		<string>欧通</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10107</string>
		<key>name</key>
		<string>千里马</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10108</string>
		<key>name</key>
		<string>速派奇</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10109</string>
		<key>name</key>
		<string>台翔</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10110</string>
		<key>name</key>
		<string>王力</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10111</string>
		<key>name</key>
		<string>新蕾</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10112</string>
		<key>name</key>
		<string>雅马哈</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10113</string>
		<key>name</key>
		<string>真爱</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10114</string>
		<key>name</key>
		<string>邦德</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10115</string>
		<key>name</key>
		<string>风爵</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10116</string>
		<key>name</key>
		<string>韩田</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10117</string>
		<key>name</key>
		<string>佳丽奇</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10118</string>
		<key>name</key>
		<string>凯祥</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10119</string>
		<key>name</key>
		<string>绿能</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10120</string>
		<key>name</key>
		<string>千里猫皇</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10121</string>
		<key>name</key>
		<string>三雅</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10122</string>
		<key>name</key>
		<string>踏浪</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10123</string>
		<key>name</key>
		<string>王派</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10124</string>
		<key>name</key>
		<string>小刀</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10125</string>
		<key>name</key>
		<string>远豪</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10126</string>
		<key>name</key>
		<string>真枪</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10127</string>
		<key>name</key>
		<string>彪牌</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10128</string>
		<key>name</key>
		<string>法拉蒂</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10129</string>
		<key>name</key>
		<string>小岛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10130</string>
		<key>name</key>
		<string>富士达</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10131</string>
		<key>name</key>
		<string>韩野</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10132</string>
		<key>name</key>
		<string>爵帅</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10133</string>
		<key>name</key>
		<string>可人</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10134</string>
		<key>name</key>
		<string>绿佳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10135</string>
		<key>name</key>
		<string>本治</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10136</string>
		<key>name</key>
		<string>小羚羊</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10137</string>
		<key>name</key>
		<string>伊耐克</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10138</string>
		<key>name</key>
		<string>七星豹</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10139</string>
		<key>name</key>
		<string>新大洲</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10140</string>
		<key>name</key>
		<string>尚好捷</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10141</string>
		<key>name</key>
		<string>腾羚</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10142</string>
		<key>name</key>
		<string>王野</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10143</string>
		<key>name</key>
		<string>星月神</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10144</string>
		<key>name</key>
		<string>永久</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10145</string>
		<key>name</key>
		<string>奔豹</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10146</string>
		<key>name</key>
		<string>小飞哥</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10147</string>
		<key>name</key>
		<string>爱玛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10148</string>
		<key>name</key>
		<string>韩铃</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10149</string>
		<key>name</key>
		<string>嘉伦</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10150</string>
		<key>name</key>
		<string>绿驹</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10151</string>
		<key>name</key>
		<string>轻骑</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10152</string>
		<key>name</key>
		<string>赛克</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10153</string>
		<key>name</key>
		<string>新艺</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10154</string>
		<key>name</key>
		<string>永源</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10155</string>
		<key>name</key>
		<string>宝路仕</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10156</string>
		<key>name</key>
		<string>洪都</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10157</string>
		<key>name</key>
		<string>骏越</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10158</string>
		<key>name</key>
		<string>铃帅</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10159</string>
		<key>name</key>
		<string>钱江</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10160</string>
		<key>name</key>
		<string>顺风鸟</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10161</string>
		<key>name</key>
		<string>心诺</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10162</string>
		<key>name</key>
		<string>优典</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10163</string>
		<key>name</key>
		<string>本铃</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10164</string>
		<key>name</key>
		<string>红旗</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10165</string>
		<key>name</key>
		<string>蓝贝</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10166</string>
		<key>name</key>
		<string>世纪雄风</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10167</string>
		<key>name</key>
		<string>小鸟</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10168</string>
		<key>name</key>
		<string>优狐</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10169</string>
		<key>name</key>
		<string>奔骑</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10170</string>
		<key>name</key>
		<string>恒光</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10171</string>
		<key>name</key>
		<string>绿骄</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10172</string>
		<key>name</key>
		<string>安马达</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10173</string>
		<key>name</key>
		<string>安琪儿</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10174</string>
		<key>name</key>
		<string>澳柯玛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10175</string>
		<key>name</key>
		<string>阿米尼</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10176</string>
		<key>name</key>
		<string>阿莎玛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10177</string>
		<key>name</key>
		<string>艾丽斯</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10178</string>
		<key>name</key>
		<string>安尔达</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10179</string>
		<key>name</key>
		<string>奥美赛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10180</string>
		<key>name</key>
		<string>新大陆</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10181</string>
		<key>name</key>
		<string>逸翔</string>
	</dict>
</array>
</plist>
