<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>10022</string>
		<key>name</key>
		<string>本田</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10023</string>
		<key>name</key>
		<string>雅马哈</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10024</string>
		<key>name</key>
		<string>宗申</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10025</string>
		<key>name</key>
		<string>铃木</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10026</string>
		<key>name</key>
		<string>光阳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10027</string>
		<key>name</key>
		<string>踏板</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10028</string>
		<key>name</key>
		<string>豪爵</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10029</string>
		<key>name</key>
		<string>川崎</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10030</string>
		<key>name</key>
		<string>力帆</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10031</string>
		<key>name</key>
		<string>福喜</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10032</string>
		<key>name</key>
		<string>新大洲</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10033</string>
		<key>name</key>
		<string>大阳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10034</string>
		<key>name</key>
		<string>轻骑</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10035</string>
		<key>name</key>
		<string>公主</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10036</string>
		<key>name</key>
		<string>越野</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10037</string>
		<key>name</key>
		<string>太子</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10038</string>
		<key>name</key>
		<string>隆鑫建设</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10039</string>
		<key>name</key>
		<string>钱江</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10040</string>
		<key>name</key>
		<string>五羊</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10041</string>
		<key>name</key>
		<string>街车</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10042</string>
		<key>name</key>
		<string>哈雷</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10043</string>
		<key>name</key>
		<string>迅鹰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10044</string>
		<key>name</key>
		<string>金城</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10045</string>
		<key>name</key>
		<string>高赛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10046</string>
		<key>name</key>
		<string>大运</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10047</string>
		<key>name</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10048</string>
		<key>name</key>
		<string>幸福</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10049</string>
		<key>name</key>
		<string>马杰斯特</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10050</string>
		<key>name</key>
		<string>春风</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10051</string>
		<key>name</key>
		<string>三阳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10052</string>
		<key>name</key>
		<string>飞鹰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10053</string>
		<key>name</key>
		<string>龟王</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10054</string>
		<key>name</key>
		<string>天剑</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10055</string>
		<key>name</key>
		<string>邦德</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10056</string>
		<key>name</key>
		<string>祖玛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10057</string>
		<key>name</key>
		<string>林海</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10058</string>
		<key>name</key>
		<string>巧格</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10059</string>
		<key>name</key>
		<string>长江</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10060</string>
		<key>name</key>
		<string>大地鹰王</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10061</string>
		<key>name</key>
		<string>大绵羊</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10062</string>
		<key>name</key>
		<string>大帅哥</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10063</string>
		<key>name</key>
		<string>巡洋舰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10064</string>
		<key>name</key>
		<string>呈捷</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10065</string>
		<key>name</key>
		<string>大未战</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10066</string>
		<key>name</key>
		<string>铁马</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10067</string>
		<key>name</key>
		<string>南方</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10068</string>
		<key>name</key>
		<string>劲隆</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10069</string>
		<key>name</key>
		<string>钻豹</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10070</string>
		<key>name</key>
		<string>小未站</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10071</string>
		<key>name</key>
		<string>猎鹰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10072</string>
		<key>name</key>
		<string>海王星</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10073</string>
		<key>name</key>
		<string>小帅哥</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10074</string>
		<key>name</key>
		<string>凌鹰</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10075</string>
		<key>name</key>
		<string>其它</string>
	</dict>
</array>
</plist>
