<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>标题</string>
		<key>placeholderTitle</key>
		<string>请填写标题</string>
		<key>cellType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>分类</string>
		<key>placeholderTitle</key>
		<string></string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>品牌</string>
		<key>placeholderTitle</key>
		<string></string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>价格(人民币¥)</string>
		<key>placeholderTitle</key>
		<string>填数字0表示面议</string>
		<key>cellType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>地区</string>
		<key>placeholderTitle</key>
		<string></string>
		<key>cellType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>联系人</string>
		<key>placeholderTitle</key>
		<string>填写联系人</string>
		<key>cellType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>联系电话</string>
		<key>placeholderTitle</key>
		<string>填写联系电话</string>
		<key>cellType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cellHeight</key>
		<string>40</string>
		<key>title</key>
		<string>商品描述</string>
		<key>placeholderTitle</key>
		<string>请描述商品</string>
		<key>cellType</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
